.blackbg {
    background-color: #262626;
    color: #ffe6ff;
}

.name {
    text-align: center;
    font-family: "Lucida Console", Monaco, monospace;
    font-style: oblique;
    font-size: 2.7em;
}

.describe {
    font-family: "Times New Roman", Times, serif;
    font-size: 1.5em;
}

.whitebg {
    background-color: #ffe6ff ;
    color: #262626;
    font-size: 2em;
}

img {
    float: right;
}